# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Export
*.csv
*.xlsx

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp